{
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "double"],
    "eqeqeq": ["warn", "always"],
    "no-unused-vars": ["warn", "always"],
    "no-redeclare": ["warn", "always"],
    "no-undef": ["warn", "always"]
  }
}
